*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  [class*="col-"]{
    float: left;
    padding:1%;
  }
/* Fondo de la Pagina (textura) */
body{
    background: url(../imajenes/light_alu.png);
}

.fuente{
    color: white;
    font-family: 'Aharoni';
}
.genero{
    padding: 50px;
    height: 50px;

    background-color: brown;
}




.lista{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    width: 100%;
    border: 10%;
    padding: 10%;
    height: 50px;
    background-color: grey;
}
.lista nav ul{
    list-style: none;
}
.lista nav ul li a{
    padding: 10px 40px;
  
}
/* ---------------------------- Efecto de las imagenes ---------------- */
.movimg{
    transition: all 0.8s ease;
}

.movimg:hover{
    transform: scale(0.9);
}
/*-----------------------------  HEADER ----------------------------- */
.header{
    width: 100%;
    margin-top: 2px;
    margin-left: 3px;
    background: darkgreen;
    border: 4px ;
    height: 50px; /* es para cuanto se le dara altura  */
    float: left;
}

/* menu  */

.menu ul {
    list-style: none;
    float: left;
    border: 1px ;
    padding: 2%;
    width: 100%;
}
    
.menu ul li{
    float: left; /* coloca las opciones del menu en filas */
    margin-right: 300px; /* separa las opciones del menu */
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15%;
    
}
.menu ul li a{
    color: aqua; /* cambia el color de letra de las opciones del menu */
    text-decoration: none; /* quita la linea que tenian las opciones del menu */
}
.menu ul li a:hover{
    background-color: limegreen;
}
/* -------------------------------------------- Paginador -----------------------------------*/
.paginador{
text-align: center;
display: inline-block;
}

.paginador ul{
    list-style: none;
    text-align: center;
}

.paginador ul li{
    display: inline-block;
    margin-right: 10px;
}

.paginador ul li a{
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition:  background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
    background: #024959;
    
}

.paginador ul li a:hover{
    background: #037E8C;
}
.paginador a.hover:not(.act){
    background-color: #ddd;
    
}
.paginador ul li a .act{
    background: #037E8C;
    color: white;
    border: 1px solid #4CAF50;
}

[class*="col-"]{
width: 100%;
}
/*----------------------------- Tablet ------------------------*/
@media only screen and (min-width: 600px) {
.col-t-1{width: 8.33%;}
.col-t-2{width: 16.66%;}
.col-t-3{width: 25%;}
.col-t-4{width: 33.33%;}
.col-t-5{width: 41.66%;}
.col-t-6{width: 50%;}
.col-t-7{width: 58.33%;}
.col-t-8{width: 66.66%;}
.col-t-9{width: 75%;}
.col-t-10{width: 83.33%;}
.col-t-11{width: 91.66%;}
.col-t-12{width: 100%;}
}

/*---------------------------- Escritorio --------------------*/
@media only screen and (min-width: 768px) {
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
}